<?php
/**
 * Server-side render for the __BLOCK_TITLE__ block.
 *
 * @package __SLUG__
 *
 * @var array $attributes Block attributes.
 */

if ( ! defined( 'ABSPATH' ) ) {
	exit;
}

$message = isset( $attributes['message'] ) ? (string) $attributes['message'] : '';
?>
<div <?php echo get_block_wrapper_attributes( array( 'class' => '__BLOCK_PREFIX__' ) ); ?>>
	<span class="__BLOCK_MESSAGE_CLASS__"><?php echo esc_html( $message ); ?></span>
</div>