{
	"$schema": "https://raw.githubusercontent.com/block-rig/schema/main/blockrig-config-v1.json",
	"pluginSlug": "__SLUG__",
	"pluginName": "__PLUGIN_NAME__",
	"namespace": "__NAMESPACE__",
	"version": "__VERSION__",
	"paths": {
		"blocksDir": "blocks"
	},
	"css": {
		"browserslist": [ "> 0.5%", "last 2 versions", "Firefox ESR", "not dead" ]
	},
	"devServer": {
		"proxyTarget": "",
		"port": 8777
	}
}